h2 {
    margin: 15px 10px 20px 10px;
    font-size: 42px;
}

.primary_p {
    width: 40%;
    margin: 0% 20% 2% 20%;
    line-height: 2;
    font-size: 24px;
}


/*.secondary-section {
    background: rgb(249, 247, 236);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.secondary-section p {
    color: rgb(32, 32, 32);
    font-size: 16px;
    margin: 0%;
    width: auto;
}*/

article {
    padding: 3%;
    margin: 2%;
}