h1 {
    padding-top: 0%;
}

h2 {
    margin: 5% 0% 5% 2%;
    font-size: 42px;
    text-align: left;
}

main {
    padding-bottom: 0%;
    margin: 0%;
}

.gif {
    width: 480px;
    height: 130px;
    background: url("../src/code.gif");
    background-position: center;
    background-size: 580px 380px;
    z-index: auto;
    margin: 3% 0% 0% 20%;
    font-size: 130px;
    font-weight: 400;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

path {
    fill: rgb(246, 194, 40);
    width: 100px;
    height: 100px;
}

svg {
    margin: auto;
    padding: auto;
}

article {
    padding: 3%;
    margin: 2.5%;
}

@media (min-width: 640px) and (max-width: 1280px) {
    .gif {
        font-size: 110px;
        font-weight: 350;
        margin-left: 15%;
    }
}

@media screen and (max-width: 640px) {
    .gif {
        font-size: 100px;
        font-weight: 300;
        margin-left: 12%;
    }
}